<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Accueil</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Gestion Compte</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/addDepartmentLabReq">Ajouter Lab ou Department</a></li>
          <li class="nav-item"> <a class="nav-link" href="/AddAccount">Ajouter Compte</a></li>
          <li class="nav-item"> <a class="nav-link" href="/AccountList">Lister Compte</a></li>
          <li class="nav-item"> <a class="nav-link" href="/CreerOffre">Creer Offre</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Gestion Ressources</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/SaisirRessource">Ajouter Ressources</a></li>
          <li class="nav-item"><a class="nav-link" href="/RessourcesList">Lister Ressources</a></li>
          <li class="nav-item"><a class="nav-link" href="/AffectationsListe">Lister Affectations</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Gestion Fourniseur</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/FournisseursList">Lister Fournisseur</a></li>
        </ul>
      </div>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Gestion Constat</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/ListerConstat">Lister Constat</a></li>
        </ul>
      </div>
    </li>


    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Gestion Offre</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/CreerOffre">Creer Offre</a></li>
          <li class="nav-item"> <a class="nav-link" href="/ListeOffre">Liste Offre</a></li>
        </ul>
      </div>
    </li>




  </ul>
</nav>